/*****************************************************/
/*Page de connexion*/
#content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10em auto 0 auto;
    width: 80%;
    max-height: 100%;
    background-color: var(--col1);
    border-radius: 10px;
    color: #fff;
    gap: 5em;
    padding: 4em 2em;
    transition: all 0.5s ease-in-out;
}

#content:hover{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.invalid{
    filter: drop-shadow(0px 0px 5px rgba(255, 0, 0, 0.75));
}

/*Formulaire de connexion*/
#connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.error{
    color: rgb(255, 142, 142);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 1em;
}

.form div{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 20px;
}

.form div input{
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    padding-left: 1em;
}

.form div input:focus{
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div#connexion a{
    text-decoration: underline;
    font-size: 12px;
}

.form > input{
    background-color: var(--col6);
    font-size: 20px;
    width: 100%;
}

.form > input:hover{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.form #submit{
    cursor: pointer;
}

/*Inscription*/
#inscription > div{
    display: flex;
    text-align: center;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", Arial, sans-serif;
    gap: 1em;
}

#inscription a{
    display: block;
    background-color: var(--col6);
    font-weight: bolder;
    width: 100%;
}

@media screen and (max-width: 760px) {
    #content {
        flex-direction: column;
        align-items: center;
        height: 60vh;
    }
}