#localisation {
  display: flex;
}

#localisation > h2 {
  margin: 0 0 0 0.5em;
}

#nbPersonne {
  display: flex;
  align-items: center;
  margin: 0.7em 0 0.7em 0;
}

#etatDevis {
  max-width: 400px;
  width: auto;
  height: auto;
  display: flex;
  padding: 2%;
  align-items: center;
}

#titreLogement {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  margin: 0 0 2em 0;
}

body {
  margin-top: 100px;
  background-color: var(--col2);
}

.imgLogement {
  max-width: 800px;
  max-height: 500px;
}

#titrephoto {
  float: left;
  max-height: 80vh;
}

.carte {
  background: #ffffff;
  height: 100%;
}

#photo {
    transition: all 0.5s ease;
    display: flex;
    margin-right: 1em;
    width: 100%;
    height: 100%;
}

#photo .imgLogement {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

#infosContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 2em;
  padding-bottom: 2em;
}

fieldset {
  display: flex;
  justify-content: center;
  color: var(--col4);
  border-style: none;
  margin-top: 5px;
}

fieldset a {
  width: max-content;
  border-bottom: 1px solid var(--col4);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#contactPropio button {
  background: var(--col5);
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
  width: 40%;
}

#contactPropio {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

#carteProprio > div {
  border: 2px solid #333;
  display: inline-block;
  margin-right: 20px;
}

#carteProprio {
  display: flex;
  align-items: center;
  width: 45vw;
  margin-bottom: 2vh;
}

#carteProprio img {
  width: 65px;
  height: 65px;
  background: #d9d9d9;
}

#annulerAccepter > button {
  height: 82px;
  background: var(--col3);
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: black;
  margin: 2%;
}

#annulerAccepter {
  display: flex;
  align-items: center;
  width: 100%;
}

#etatResa {
  width: 10vw;
  background: var(--col4);
  border-radius: 10px;
  padding: 20px 10px;
  color: #ffffff;
}

#dateDiv {
  display: flex;
  flex-direction: column;
  margin: 0 0 1em 0;
}

#dateDiv > h2 {
  margin: 0.3em 0 0 0;
}

.recu {
  padding: 5px;
  align-items: center;
  border-radius: 10%;
  margin-right: 3px;
}

#prixSpan {
  margin: 1em 0 0 0;
}

#etatDevis {
  background: var(--col5);
}

.enattente {
  background-color: var(--col4);
  color: white;
}

#etatDevis h2 {
  font-weight: normal;
  font-size: 1.6em;
}

#autreInfo > * {
  margin-top: 5%;
}

.gris {
  opacity: 0.5;
}

#contactLien {
  background: var(--col5);
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
  width: 40%;
  padding: 5px;
}

@media (max-width: 1200px) {
  .main-div-details-logement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carte {
    flex-direction: column;
  }
  .imgLogement {
    margin-right: 0;
  }

  #infosContainer {
    padding: 1em;
  }

  #contactPropio button {
    width: 100%;
  }
}
