#infosContainer {
    display: flex;
}

#infosContainer > div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

figure > img {
    display: block;
    height: 480px;
}

.container {
    display: flex;
}



fieldset {
    display: flex;
    justify-content: center;
    color: #627099;
    border-style: none;
    margin-top: 5px;


}

fieldset a {
    width: max-content;
    border-bottom: 1px solid #627099;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

body {
    padding-left: 10px;
    padding-right: 10px;
}


#contactPropio > button {
    background: #16A1EF;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 40%;
}

#contactPropio {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

#carteProprio {
    display: flex;
    align-items: center;
    width: 45vw;
    margin-bottom: 2vh;
}

#carteProprio > img {
    width: 65px;
    height: 65px;
    background: #D9D9D9;
    border-radius: 50px;
    margin-right: 20px;
}

body .container {
    justify-content: end;
}

body .container > .container {
    flex-direction: column;
    align-items: end;
}

#annulerAccepter > button {
    width: 378px;
    height: 82px;
    background: #7EBCF2;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;

}

#etatResa {
    width: 210px;
    background: #627099;
    border-radius: 10px;
    padding: 20px 10px;
}

#etatResa * {
    font-family: 'Noir Pro';
    text-align: center;
    color: #FFFFFF;
}

#dateDiv {
    display: flex;
    justify-content: space-between;
}

#nbPersonne {
    height: 10vh;
    width: 4vw;

    background: #16A1EF;
    border-radius: 60px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}