/*****************************************************/
/*Conteneur principal*/

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: calc(1em + 75px) 1em 1em 1em;
}

/*****************************************************/
/*Options*/

#options{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 80%;
    height: 50px;
    margin-top: 1em;
}

#options > div{
    height: 100%;
}

#options > div input{
    height: 100%;
    border-radius: 45px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding-left: 1em;
}

#options > div button{
    background-color: #65E3FF;
}

#options > div button:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

#options > a.boutton{
    display: block;
    background-color: #65E3FF;
}

/*****************************************************/
/*Logements*/

#content #logements{
    width: 80%;
    margin-top: 1em;
    border-radius: 15px;
    overflow: hidden;
}

#content #logements > h3{
    text-align: center;
}

/*****************************************************/
/*Un logement*/

@keyframes slideIn{
    from{
        height: 150px;
    }
    25%{
        height: 155px
    }
    50%{
        height: 160px;
    }
    75%{
        height: 170px;
    }
    to{
        height: 180px;
    }
}

@keyframes slideOut{
    from{
        height: 180px;
    }
    25%{
        height: 170px;
    }
    50%{
        height: 160px;
    }
    75%{
        height: 155px;
    }
    to{
        height: 150px;
    }
}

#content .logement{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: white;
    animation: slideOut .3s ease;
    transition: all .3s ease-in;
    filter: drop-shadow(0px 0px 1px #00000033);
}

#content .logement:hover{
    height: 180px;
    animation: slideIn .3s ease-in;
    filter: drop-shadow(0px 0px 10px #00000033);
    z-index: 2;
}

#content .logement > img{
    height: 100%;
    width: 30%;
    object-fit: cover;
    image-rendering: optimizeQuality;
}

/*Informations*/
#content .logement > div{
    margin: 1em;
}

#content .logement > div img{
    width: 25px;
    height: 25px;
}