/*****************************************************/
/*Conteneur principal*/

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: calc(1em + 75px);
}


/*****************************************************/
/*Options*/

#options{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5em;
    width: 80%;
    height: fit-content;
    margin-top: 1em;
}

#options > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    height: 100%;
}

#options > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

#options > div button{
    background-color: var(--col6);
}

#options > div button:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

#options > div+div > a.boutton{
    display: block;
    background-color: var(--col6);
}

@media screen and (max-width: 950px){
    #options{
        justify-content: center;
        width: 100%;
    } 
    
    #options > div{
        justify-content: center;
        margin: 0 1em;
    } 
}

/*****************************************************/
/*Logements*/

#content #logements{
    width: 80%;
    margin-top: 1em;
    transition: all .5s ease-in-out;
}

#content #logements h3{
    font-size: 1.5em;
}

#content #logements p{
    font-size: 1em;
}

@media screen and (max-width: 1000px){
    #content #logements{
        width: 100%;
        height: fit-content;
    }  
}

/*****************************************************/
/*Un logement*/

#content .logement{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    max-height: fit-content;
    background-color: #fff;
    transition: all .3s ease-in;
    filter: drop-shadow(0px 0px 1px #00000033);
    margin-bottom: 1em;
    transition: all .5s ease-in-out;
    animation: opacity-fade-in linear;
    animation-timeline: view(75% 0);
}

@media (prefers-reduced-motion: reduce) {
    #content .logement{
        animation: none;
    }
}

#content .logement:hover{
    scale: 1.02;
    filter: drop-shadow(0px 0px 10px #00000033);
    z-index: 2;
}

#content .logement > img, #content .logement > a > img{
    max-width: 300px;
    min-width: 300px;
    min-height: 200px;
    object-fit: cover;
    image-rendering: optimizeQuality;
    transition: all .5s ease-in-out;
}


/*Informations*/
#content .logement > div{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 1em 1em 0 1em;
}

#content .logement > div p{
    inline-size: 90%;
    overflow-wrap: break-word;
}

#content .logement > div img{
    width: 25px;
    height: 25px;
    margin-right: .5em;
}

#content .logement > div .boutton{
    background-color: var(--col6);
    height: fit-content;
    z-index: 3;
    margin-bottom: 1em;
}

#content .logement > div .boutton img{
    width: 30px;
    height: 30px;
    margin-right: .5em;
}

#content .logement > div > div{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    margin-bottom: 5em;
}

#content .logement > div > nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: .5em;
    width: 100%;
    margin-top: .5em;
    bottom: 0;
    right: 0;
}

/* CSS pour le conteneur wrapper */
.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
  }

  /* CSS pour l'élément vidéo à l'intérieur du wrapper */
  .wrapper video {
    height: 100%;
  }

  /* CSS pour l'élément SVG à l'intérieur du wrapper */
  .wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* CSS pour le texte à l'intérieur de l'élément SVG */
  .wrapper svg text {
    font-family: "NoirPro", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size:12px; /* Taille initiale du texte */
  }

  /* CSS pour le rectangle à l'intérieur de l'élément SVG */
  .wrapper svg rect {
    fill: #fff;
  }

  /* CSS pour la classe lien */
  .lien {
    position: absolute;
    margin: 1px;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-align: center;
    z-index: 1;
  }

  /* Règles de médias queries pour la résponsivité */

  @media screen and (max-width: 1070px) {
    .wrapper svg text {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 860px) {
    .wrapper svg text {
      font-size: 8px;
    }
  }

  @media screen and (max-width: 710px) {
    .wrapper svg text {
      font-size:6px;
    }
  }

  @media screen and (max-width: 550px) {
    .wrapper svg text {
      font-size:4px;
    }
  }

  @media screen and (max-width: 360px) {
    .wrapper svg text {
      font-size:3px;
    }


    .lien {
      font-size:1px;
    }
  }


@media screen and (max-width: 1000px){
    #content .logement:hover{
        scale: 1;
    } 
}

@media screen and (max-width: 950px){
    #content .logement{
        height: fit-content;
        flex-wrap: wrap;
    }

    #content .logement > img #content .logement > a > img{
        width: 100%;
        height: 100%;
        max-height: 200px;
    }
}

#prof > div {
    display:flex;
    flex-direction: row;
}
