/*****************************************************/
/*Content*/

.monprofil{
    margin: calc(75px + 1em) auto 1em auto;
    width: 80%;
    background-color: #fff;
    transition: all .5s ease;
}

@media screen and (max-width: 1300px) {
    
    .monprofil {
        width: 100%;
    }
}

div.notation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    line-height: 2em;
    height: 2em;
    margin-top: 1em;
}

div.notation img{
    height: 100%;
}

/*****************************************************/
/*Image + message bienvenue*/

#titre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    margin: auto;
    padding: 1em;
    width: fit-content;
    height: 100px;
}

#titre img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--col6);
}

/*****************************************************/
/*Informations*/

.monprofil #info{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: relative;
    background-color: var(--col4);
    color: #fff;
    transition: all .5s ease;
    min-height: 10em;
    text-align: center;
}

.monprofil #info > div{
    font-size: 1.2em;
    gap: .25em;
    margin: auto;
    padding: 1em;
    min-width: 50%;
    width: max-content;
    transition: all .5s ease;
}

.monprofil #info ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-wrap: break-word;
    gap: 1em;
    align-items: center;
    flex-direction: row;
}

.monprofil #info li{
    word-break: break-all;
    margin-top: .5em;
    margin-bottom: .5em;
}

.monprofil #info a.boutton{
    display: block;
    position: absolute;
    background-color: var(--col6);
    width: 50px;
    height: 50px;
    padding: 1em;
    border-radius: 0;
    border-top-left-radius: 50px;
    bottom: 0;
    right: 0;
}

.monprofil #info a.boutton:hover{
    scale: 1.1;
}

.monprofil #info a.boutton img{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1000px) {

    .monprofil #info ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        word-wrap: break-word;
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    
    .monprofil #info > div{
        width: 90%;
        align-self: center;
    }

    .monprofil #info a.boutton{
        position: relative;
    }
}

/*****************************************************/
/*Options*/

.monprofil #options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    background-color: var(--col2);
    padding-top: 1em;
}

.monprofil #options a.boutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    background-color: var(--col6);
}

.monprofil #options a.boutton img{
    width: 30px;
    height: 30px;
}

.monprofil #options img#img-disconnect{
    rotate: 90deg;
}

/*****************************************************/
/*Editer son profil*/

.monprofil form#form{
    position: relative;
}

.monprofil form#form img{
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;  
}

.monprofil form#form img:hover{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.75))
            brightness(70%);
}

.monprofil form#form input{
    min-width: max-content;
    padding: 0 1em;
    height: fit-content;
}

.monprofil form#form .bouttons{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    padding: 0;
    gap: 0;
}

.monprofil form#form button.boutton, .monprofil form#form a.boutton{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    padding: 1em;
    margin: 0;
    background-color: var(--col6);
}

.monprofil form#form button.boutton{
    border-top-left-radius: 50px;
    padding: 2.25em;
    right: 90px;
}

.monprofil form#form button.boutton:hover{
    scale: 1.1;
}

.monprofil form#form button.boutton img, .monprofil form#form a.boutton img{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1000px) {

    .monprofil form#form .bouttons{
        position: relative;
    }

    .monprofil form#form button.boutton, .monprofil form#form a.boutton{
        position: relative;
        right: 0px;
        transition: none;
    }
}

/*****************************************************/
/*Consulter un autre compte*/

.profil {
    margin-top: 75px;
    width: 100%;
}

.profil .infos-profil{
    display: flex;
    flex-direction: row;
    height: 300px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.profil .infos-profil div.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 20%;
    min-width: max-content;
    padding: 1em;
    background-color: var(--col1);
}

.profil .infos-profil div.image img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid var(--col6);
}

.profil .infos-profil > div.image a.boutton{
    background-color: var(--col4);
    color: #fff;
}

.profil .infos-profil > div.image a.boutton:last-child{
    background-color: red;
}

.profil .infos-profil div.infos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em;
}

.profil .infos-profil div.infos .nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
}

.profil .infos-profil div.infos .nav a.boutton{
    background-color: var(--col6);
}

/*****************************************************/
/*Commentaires*/

.profil #commentaires{
    margin: 1em;
}

.profil #commentaires #commentaire-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 1em;
}

.profil #commentaires .infos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil #commentaires .infos a.boutton{
    background-color: var(--col6);
}

.profil div.commentaire{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--col4);
    color: #fff;
    padding: 1em;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.profil div.commentaire:hover{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.75));
}

.profil div.commentaire .user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.profil div.commentaire .user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--col6);
}

.profil div.commentaire .notation{
    position: absolute;
    top: 0;
    right: 1em;
}

.profil div.commentaire > p{
    float: left;
    width: 82%;
}

.profil div.commentaire > a{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    color: #fff;
    height: fit-content;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*****************************************************/
/*Logements*/

.profil #logements{
    margin: 1em;
}

.profil #logements #logement-container{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    min-height: inherit;
}

/*Une carte logement*/
.profil .logement{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    position: relative;
    width: 230px;
    height: 360px;
    max-height: fit-content;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 15px;
    transition: all 0.5s ease;
    opacity: 1;
    scale: 1.1;
    margin-right: 3em;
    margin-bottom: 3em;
}

.profil .logement > a{
    display: block;
    height: 50%;
}

.profil .logement a:hover{
    filter: none;
    border: none;
}

.profil .logement img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Div contenant notation + like*/
.profil .logement > div{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000050;
    /*backdrop-filter: blur(1px);*/
}

.profil .logement > div > div{
    margin-left: 5px;
}

.profil .logement > div img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

.profil .logement #rating{
    display: flex;
    align-items: center;
    color: #fff;
}

.profil .logement #rating img {
    margin-right: 8px;
}

.profil .logement button{
    background: none;
    cursor: pointer;
    border: none;
    margin-top: 5px;
    margin-right: 5px;
}

/*Informations d'un logement*/

.profil .logement #description{
    display: block;
    height: 50%;
    width: 100%;
}

.profil .logement #description div > * {
    margin: 3px;
}

.profil .logement #description > div{
    display: block;
    margin: 1em 1em 0em 1em;
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    word-wrap: break-word;
    word-break:keep-all;
}

.profil .logement a > div img{
    height: 25px;
    width: 25px;
}

.profil .logement a > div > div{
    display: flex;
    gap: 5px;
    align-items: baseline;
}
/*Prix*/
.profil .logement a > div > div+div{
    padding-bottom: 5em;
}

.profil .logement a > div > div+div+div{
    position: absolute;
    bottom: 0;
    line-height: normal;
    padding-bottom: .5em;
}

.profil .logement strong{
    font-size: 24px;
    font-weight: bold;
    color: var(--col5);
}

.profil .logement:hover{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.75));
    transform: translateY(-5px);
}

@media screen and (max-width: 760px) {
    .profil .logement{
        scale: 1;
    }
}
/*Prix*/
.profil .logement a > div > div+div{
    padding-bottom: 0;
}
.profil .logement a > div > div+div+div{
    position: absolute;
    bottom: 0;
    line-height: normal;
    margin-bottom: 0;
}

.profil .logement strong{
    font-size: 24px;
    font-weight: bold;
    color: var(--col5);
}

.profil .logement:hover{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.75));
    transform: translateY(-5px);
}

/*****************************************************/
/*Formulaire invalide*/

.invalid{
    filter: drop-shadow(0px 0px 5px rgba(255, 0, 0, 0.75));
}

.invalid:focus{
    filter: drop-shadow(0px 0px 5px rgba(255, 0, 0, 1));
}

.alert{
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 50px;
    font-size: 12px;
    padding-left: 1em;
    padding-right: 1em;
}


/*****************************************************/
/*Page d'erreur*/

body_page_err{
    min-height: 0;
}

/* CSS pour le conteneur wrapper */
.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
  }
  
  /* CSS pour l'élément vidéo à l'intérieur du wrapper */
  .wrapper video {
    height: 100%;
  }
  
  /* CSS pour l'élément SVG à l'intérieur du wrapper */
  .wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* CSS pour le texte à l'intérieur de l'élément SVG */
  .wrapper svg text {
    font-family: "NoirPro", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size:12px; /* Taille initiale du texte */
  }
  
  /* CSS pour le rectangle à l'intérieur de l'élément SVG */
  .wrapper svg rect {
    fill: #fff;
  }
  
  /* CSS pour la classe lien */
  .lien {
    position: absolute;
    margin: 1px;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-align: center;
    z-index: 1;
  }
  
  /* Règles de médias queries pour la résponsivité */
  
  @media screen and (max-width: 1070px) {
    .wrapper svg text {
      font-size: 10px; 
    }
  }
  
  @media screen and (max-width: 860px) {
    .wrapper svg text {
      font-size: 8px; 
    }
  }
  
  @media screen and (max-width: 710px) {
    .wrapper svg text {
      font-size:6px; 
    }
  }
  
  @media screen and (max-width: 550px) {
    .wrapper svg text {
      font-size:4px; 
    }
  }
  
  @media screen and (max-width: 360px) {
    .wrapper svg text {
      font-size:3px; 
    }
  
  
    .lien {
      font-size:1px; 
    }
  }