main{
    margin-top: 75px;
}

.corps{
    margin:5%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}

.degrade{
    background: linear-gradient(to bottom, #D7F0FF, #FFFFFF);
    height: 10%;
}

p{
    margin-top: 10px;
    margin-left: 15px;
}


#localisation_haut_page {
    display: flex;
    align-items: center;
    background-color: #16A1EF;
    border-radius: 15px;
    padding: 5%;
    margin-left: 10%;

}

#icone{
    width: 30px;
}

.infos_loge{
    margin: 10%;
    
}

body{
    background-color: white;
}

.tete_offre{
    background-color: #D7F0FF;
    padding: 5%;
    padding-bottom: 1%;
    padding-top: 3%;
    margin-top: 0;
}

.tete_offre>div{
    width: 30%;
}

.infos_loge>li{
    background-color: #7EBCF2;
    margin-top: 10%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.infos_loge>li>div{
    flex-direction: row;
}

.tete_offre, .photo_profil_contact{
    display: flex;
    flex-direction: row;
}

.tete_offre>img{
    border-radius: 20px;
    width: 60%;
}

.tete_offre>div{
    display: flex;
    flex-direction: column;
}

.corps_offre{
    background-color: #515D5E;
    color: white;
    padding: 25px;
    border-radius: 20px;
    width: 70%;
    min-height: 500px;
}

#hote {
    background-color: #7EBCF2;
    display: flex;
    color: black;
    flex-direction: row;
    width: fit-content;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    align-items: center;
    margin-top: 10px;
}

.infos_chambres{
    padding:20px;
    padding-top: 0;
    
}




.chambre{
    margin-left:10% ;
    margin-right:10% ;
    margin-bottom: 5%;
    padding: 5px;
    width: 50%;
    min-width: fit-content;;
    background-color: #7EBCF2;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chambre>p{
    margin-right:10px;
}

#nb_lit{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5%;
}

.liste_corps{
    list-style: disc;
    margin: 50px;
    margin-top: 15px;
}

.liste_corps>li{
    margin-top: 5px;
}

.div_corps{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.resa_colle{
    position: sticky;
    top: 75px;
}

.reserve_contact{
    display: flex;
    flex-direction: column;
    width:30%;
    min-width: fit-content;
    margin-left: 20px;
}

.reserve{
    background-color: #16A1EF;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    min-width: fit-content;

}

.contact{
    background-color: #7EBCF2;
    padding: 5px;
    border-radius: 15px;
   margin: 5px;
}

#prix_base{
    display: flex;
    flex-direction: row;
}

#prix{
    color: white;
    margin-top: 0;
    margin-right: 5px;
    font-size: 1.5em;
}

.arrivee_depart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date_resa{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


.bouton_reserve{
    background-color: #515D5E;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 2%;
    margin: 5%;
    margin-left:15%;
    margin-right: 15%;


}

form{
    margin: 5%;
    margin-bottom:0 ;
    padding: 2%;
}

form>input{
    border-radius: 10px;
    border: 1px solid #000;
    width: 150px;
    height: 30px;
    margin-right: 5px;
    text-align: center;
}

.bouton_contact{
    background-color: #16A1EF;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
}

.photo_profil_contact{
display: flex;
align-items: center;
margin-left: 15%;}

.commentaires{
    background: linear-gradient(to top, #D7F0FF, #FFFFFF);

}

footer{
    background-color: #D7F0FF;
}

#comment{
    margin: 5%;
    margin-bottom:0;
    margin-top: 0;
    padding-top: 2%;
}

#photo_profil{
    width: 50px;
}

.section_vide{
    margin: 10px;
}


.proprio{
    position: absolute;
    top: 75px;
    padding-left: 5%;
    padding-top: .5em;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.bouton_modification{
    display: flex;
    background-color: #515D5E;
    color: white;
    padding: 1em;
    border-radius: 20px;
    margin-right: 20px;
    min-width:30px;
    height: 10px;
    justify-content: center;
    line-height: 100%;
}main{
    margin-top: 75px;
}

.corps{
    margin:5%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}

.degrade{
    background: linear-gradient(to bottom, #D7F0FF, #FFFFFF);
    height: 10%;
}

p{
    margin-top: 10px;
    margin-left: 15px;
}


#localisation_haut_page {
    display: flex;
    align-items: center;
    background-color: #16A1EF;
    border-radius: 15px;
    padding: 5%;
    margin-left: 10%;

}

#icone{
    width: 30px;
}

.infos_loge{
    margin: 10%;
    
}

body{
    background-color: white;
}

.tete_offre{
    background-color: #D7F0FF;
    padding: 5%;
    padding-bottom: 1%;
    padding-top: 3%;
    margin-top: 0;
}

.tete_offre>div{
    width: 30%;
}

.infos_loge>li{
    background-color: #7EBCF2;
    margin-top: 10%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.infos_loge>li>div{
    flex-direction: row;
}

.tete_offre, .photo_profil_contact{
    display: flex;
    flex-direction: row;
}

.tete_offre>img{
    border-radius: 20px;
    width: 60%;
}

.tete_offre>div{
    display: flex;
    flex-direction: column;
}

.corps_offre{
    background-color: #515D5E;
    color: white;
    padding: 25px;
    border-radius: 20px;
    width: 70%;
    min-height: 500px;
}

#hote {
    background-color: #7EBCF2;
    display: flex;
    color: black;
    flex-direction: row;
    width: fit-content;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    align-items: center;
    margin-top: 10px;
}

.infos_chambres{
    padding:20px;
    padding-top: 0;
    
}




.chambre{
    margin-left:10% ;
    margin-right:10% ;
    margin-bottom: 5%;
    padding: 5px;
    width: 50%;
    min-width: fit-content;;
    background-color: #7EBCF2;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chambre>p{
    margin-right:10px;
}

#nb_lit{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5%;
}

.liste_corps{
    list-style: disc;
    margin: 50px;
    margin-top: 15px;
}

.liste_corps>li{
    margin-top: 5px;
}

.div_corps{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.resa_colle{
    position: sticky;
    top: 75px;
}

.reserve_contact{
    display: flex;
    flex-direction: column;
    width:30%;
    min-width: fit-content;
    margin-left: 20px;
}

.reserve{
    background-color: #16A1EF;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    min-width: fit-content;

}

.contact{
    background-color: #7EBCF2;
    padding: 5px;
    border-radius: 15px;
   margin: 5px;
}

#prix_base{
    display: flex;
    flex-direction: row;
}

#prix{
    color: white;
    margin-top: 0;
    margin-right: 5px;
    font-size: 1.5em;
}

.arrivee_depart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date_resa{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


.bouton_reserve{
    background-color: #515D5E;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 2%;
    margin: 5%;
    margin-left:15%;
    margin-right: 15%;


}

form{
    margin: 5%;
    margin-bottom:0 ;
    padding: 2%;
}

form>input{
    border-radius: 10px;
    border: 1px solid #000;
    width: 150px;
    height: 30px;
    margin-right: 5px;
    text-align: center;
}

.bouton_contact{
    background-color: #16A1EF;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
}

.photo_profil_contact{
display: flex;
align-items: center;
margin-left: 15%;}

.commentaires{
    background: linear-gradient(to top, #D7F0FF, #FFFFFF);

}

footer{
    background-color: #D7F0FF;
}

#comment{
    margin: 5%;
    margin-bottom:0;
    margin-top: 0;
    padding-top: 2%;
}

#photo_profil{
    width: 50px;
}

.section_vide{
    margin: 10px;
}


.proprio{
    position: absolute;
    top: 75px;
    padding-left: 5%;
    padding-top: .5em;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.bouton_modification{
    display: flex;
    background-color: #515D5E;
    color: white;
    padding: 1em;
    border-radius: 20px;
    margin-right: 20px;
    min-width:30px;
    height: 10px;
    justify-content: center;
    line-height: 100%;
}main{
    margin-top: 75px;
}

.corps{
    margin:5%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}

.degrade{
    background: linear-gradient(to bottom, #D7F0FF, #FFFFFF);
    height: 10%;
}

p{
    margin-top: 10px;
    margin-left: 15px;
}


#localisation_haut_page {
    display: flex;
    align-items: center;
    background-color: #16A1EF;
    border-radius: 15px;
    padding: 5%;
    margin-left: 10%;

}

#icone{
    width: 30px;
}

.infos_loge{
    margin: 10%;
    
}

body{
    background-color: white;
}

.tete_offre{
    background-color: #D7F0FF;
    padding: 5%;
    padding-bottom: 1%;
    padding-top: 3%;
    margin-top: 0;
}

.tete_offre>div{
    width: 30%;
}

.infos_loge>li{
    background-color: #7EBCF2;
    margin-top: 10%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.infos_loge>li>div{
    flex-direction: row;
}

.tete_offre, .photo_profil_contact{
    display: flex;
    flex-direction: row;
}

.tete_offre>img{
    border-radius: 20px;
    width: 60%;
}

.tete_offre>div{
    display: flex;
    flex-direction: column;
}

.corps_offre{
    background-color: #515D5E;
    color: white;
    padding: 25px;
    border-radius: 20px;
    width: 70%;
    min-height: 500px;
}

#hote {
    background-color: #7EBCF2;
    display: flex;
    color: black;
    flex-direction: row;
    width: fit-content;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    align-items: center;
    margin-top: 10px;
}

.infos_chambres{
    padding:20px;
    padding-top: 0;
    
}




.chambre{
    margin-left:10% ;
    margin-right:10% ;
    margin-bottom: 5%;
    padding: 5px;
    width: 50%;
    min-width: fit-content;;
    background-color: #7EBCF2;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chambre>p{
    margin-right:10px;
}

#nb_lit{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5%;
}

.liste_corps{
    list-style: disc;
    margin: 50px;
    margin-top: 15px;
}

.liste_corps>li{
    margin-top: 5px;
}

.div_corps{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.resa_colle{
    position: sticky;
    top: 75px;
}

.reserve_contact{
    display: flex;
    flex-direction: column;
    width:30%;
    min-width: fit-content;
    margin-left: 20px;
}

.reserve{
    background-color: #16A1EF;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    min-width: fit-content;

}

.contact{
    background-color: #7EBCF2;
    padding: 5px;
    border-radius: 15px;
   margin: 5px;
}

#prix_base{
    display: flex;
    flex-direction: row;
}

#prix{
    color: white;
    margin-top: 0;
    margin-right: 5px;
    font-size: 1.5em;
}

.arrivee_depart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date_resa{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


.bouton_reserve{
    background-color: #515D5E;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 2%;
    margin: 5%;
    margin-left:15%;
    margin-right: 15%;


}

form{
    margin: 5%;
    margin-bottom:0 ;
    padding: 2%;
}

form>input{
    border-radius: 10px;
    border: 1px solid #000;
    width: 150px;
    height: 30px;
    margin-right: 5px;
    text-align: center;
}

.bouton_contact{
    background-color: #16A1EF;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
}

.photo_profil_contact{
display: flex;
align-items: center;
margin-left: 15%;}

.commentaires{
    background: linear-gradient(to top, #D7F0FF, #FFFFFF);

}

footer{
    background-color: #D7F0FF;
}

#comment{
    margin: 5%;
    margin-bottom:0;
    margin-top: 0;
    padding-top: 2%;
}

#photo_profil{
    width: 50px;
}

.section_vide{
    margin: 10px;
}


.proprio{
    position: absolute;
    top: 75px;
    padding-left: 5%;
    padding-top: .5em;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.bouton_modification{
    display: flex;
    background-color: #515D5E;
    color: white;
    padding: 1em;
    border-radius: 20px;
    margin-right: 20px;
    min-width:30px;
    height: 10px;
    justify-content: center;
    line-height: 100%;
}
