body {
  margin-top: 10%;
  --main-bg-color: var(--col1);
  --color-btn-submit: var(--col3);
  --main-font-color: #ffffff;
  --secondary-font-color : #000000;
  --h1-font-color: var(--col5);
}

.container-main {
  display: flex;
  background-color: var(--main-bg-color);
  border-radius: 25px;
  margin: 10em;
  color: var(--main-font-color);
  flex-wrap: wrap;
}

.container-left {
  flex-direction: column;
  margin: 1em 5em 1em 10em;
  width: 35%;
}

.container-right {
  margin: 1em 5em 0 0;
  width: 35%;
}

input,
select{
  margin: 1em;
  border-radius: 5px;
  padding: 0.8em;
  display: block;
}

.custom-file-input {
  background-color: var(--col5);
  margin: 1em 0 1em 1em;
  color: var(--secondary-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  width: 10rem;
  height: 2em;
  cursor: pointer;
}

/* Styles pour le bouton de type file */
#photos {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#photosName{
  margin: 0 0 0 1em;
}

button{
  margin: 1em;
  border-radius: 45px;
  padding: 0.8em;
  display: block;
  cursor: pointer;
}

button:hover{
  background-color: var(--col3);
  transition: 0.7s;
}

#surface {
  height: 1.3em;
}

label {
  margin: 2em 0 0 1em;
  display: block;
}

textarea {
  margin-left: 1em;
  border-radius: 15px;
  padding: 1em;
}

h1 {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: var(--col5);
}

.creerAnnonce {
  background-color: var(--color-btn-submit);
  height: 4em;
  cursor: pointer;
}

.villeDiv {
  display: flex;
  flex-direction: row;
}
  
.nbChambreEtBainsDiv,
.nbPrixEtPersonnesDiv,
.typeLogementDiv {
  display: flex;
}

.nbChambreEtBainsDiv,
.nbPrixEtPersonnesDiv,
.typeLogementDiv [type="number"] {
  height: 4em;
}

.nbPrixEtPersonnesDiv{
  margin: 5em 0 0 0;
}

#typeLogement{
  width: 220px;
}

.nbChambreEtBainsDiv {
  margin-bottom: 2em;
}

.nbPrixEtPersonnesDiv {
  margin-bottom: 6em;
}

hr {
  width: 20%;
  margin: auto;
  border: 1.52px solid black;
}

.inputPlusIconeSupprimer {
  display: flex;
  flex-direction: row;
  max-width: 25rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3em;
  text-align: center;
}

.bottom > p {
  margin: 0 0 2em 0;
}

.bottom > input[type="checkbox"] {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.bottom > span{
  margin: 0 1em 0 1em;
}

#iconSupprimer:hover {
  cursor: pointer;
}

#lits{
  width: 20rem;
}

.testValeurInputAnnonce{
  color: red;
}

.divPrixParNuit{
  margin: 2em 0 0 0;
}

.addButton, .addChambre, .btnAddLits{
  background-color: var(--col5);
  border-radius: 10px;
}

.addButton:hover, .addChambre:hover{
  background-color: var(--main-font-color);
  color: black;
}

.conditionsGenerale{
  margin: auto;  
  width: 60%;
}

.creerAnnonce{
  margin: auto;
  margin-bottom: 2em;
}



@media (max-width: 1250px) {
  .container-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-left {
    margin: 1em 5em 1em 0em;
  }
  .container-right {
    margin: 1em 5em 1em 0em;
  }
}

@media (max-width: 830px) {
  h1 {
    margin: 10em 0 0 0;
  }
  .container-main {
    margin: 3em;
    min-width: 30rem;
  }
}