body {
  --main-bg-color: var(--col4);
  --color-btn-submit: var(--col3);
  --main-font-color: #ffffff;
  --secondary-font-color: #000000;
  --h1-font-color: var(--col5);
  cursor: unset !important;
}

.main{
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(75px + 1em);
  color: var(--main-font-color);
  width: 90%;
}

.titre{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1em;
}

.container-left, .container-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
}

input,
select {
  margin: 1em;
  border-radius: 5px;
  padding: 0.8em;
  display: block;
}

/* Styles pour le bouton de type file */
#photos {
  display: none;
}

#photosName {
  margin: 1em;
  margin-left: 2em;
}

#surface {
  height: 1.3em;
}

.container-main label {
  margin: .5em 1em;
  display: block;
}

textarea {
  margin-left: 1em;
  border-radius: 15px;
  padding: 1em;
  width: max-content;
}

h1 {
  text-align: center;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: var(--col5);
}

.villeDiv {
  display: flex;
  flex-direction: row;
}

.nbChambreEtBainsDiv,
.nbPrixEtPersonnesDiv,
.typeLogementDiv {
  display: flex;
}

.nbChambreEtBainsDiv,
.nbPrixEtPersonnesDiv,
.typeLogementDiv [type="number"] {
  height: 4em;
}

.div-label-nbPers>label {
  width: 12em;
}

#typeLogement {
  width: 220px;
}

.nbChambreEtBainsDiv {
  margin-bottom: 2em;
}

.nbPrixEtPersonnesDiv {
  align-items: end;
  height: auto;
  width: auto;
}

litsElement > label{
  margin-top: 1em;
}

.inputPlusIconeSupprimer {
  display: flex;
  align-items: center;
  line-height: 100%;
  flex-direction: row;
  margin-top: 1em;
}

.litsElement .inputPlusIconeSupprimer  {
  margin-top: 0;
}

.inputPlusIconeSupprimer > label {
  margin: 0 1em 0 1em;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3em;
  text-align: center;
}

.bottom > p {
  margin: 0 0 2em 0;
}

.bottom > input[type="checkbox"] {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.bottom > span {
  margin: 0 1em 0 1em;
}

#iconSupprimer:hover {
  cursor: pointer;
}

.testValeurInputAnnonce {
  color: red;
}

.divPrixParNuit {
  margin: 2em 0 0 0;
}

.conditionsGenerale {
  margin: auto;
  width: 60%;
}

/********************************/
/*Bouttons*/
.boutton{
  background-color: var(--col6);
  font-size: 1em;
  padding: 0em 1em;
  margin-left: 1em;
  margin-top: 1em;
}

.creerAnnonce {
  margin: auto;
  margin-bottom: 2em;
}

.creerAnnonce:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

span a{
  text-decoration: underline;
}

/********************************/
/*TextFields*/
.textfield{
  width: calc(100% - 4em);
}

/********************************/
/*Media Queries*/
@media screen and (max-width: 800px) {
  .textfield{
    font-size:small;
  }
}
